{% extends "master.html" %}

{% load static %}

{% block title %}
  Fifteen Puzzle
{% endblock title %}

{% block head %}
  <link rel="stylesheet" href={% static 'fifteen.css' %}>
{% endblock head %}

{% block content %}
  <h1 class="page-header">Fifteen Puzzle</h1>
  
  <div class="page-section light-section">
    <div class="container hcenter">
      <div id="puzzle-container"></div>
      <div>
        <button class="plain-button fifteen-button" onclick="puzzleDisplay.randomize()">Randomize</button>
      </div>
      <div>
        <button id="size-2" class="plain-button fifteen-button" onclick="changeSize(2)">2×2</button>
        <button id="size-3" class="plain-button fifteen-button" onclick="changeSize(3)">3×3</button>
        <button id="size-4" class="plain-button fifteen-button" onclick="changeSize(4)">4×4</button>
        <button id="size-5" class="plain-button fifteen-button" onclick="changeSize(5)">5×5</button>
        <button id="size-6" class="plain-button fifteen-button" onclick="changeSize(6)">6×6</button>
        <button id="size-7" class="plain-button fifteen-button" onclick="changeSize(7)">7×7</button>
        <button id="size-8" class="plain-button fifteen-button" onclick="changeSize(8)">8×8</button>
      </div>
      <div>
        <button id="red-white-style" class="plain-button fifteen-button" onclick="changeStyle('red-white')">Red and White</button>
        <button id="wood-style" class="plain-button fifteen-button" onclick="changeStyle('wood')">Wood</button>
        <button id="gray-style" class="plain-button fifteen-button" onclick="changeStyle('gray')">Gray</button>
        <button id="image-style" class="plain-button fifteen-button" onclick="changeStyle('image')">Image</button>
      </div>

      <h4 class="section-header center">Rules</h4>
      <ol>
        <li>Scramble the puzzle and then move the tiles, making use of the empty square, to return the tiles to their original configuration.</li>
        <li>The solved state has the tiles increasing in number from 1 to 15 with the empty square in the bottom right corner.</li>
        <li>To change the dimensions of the puzzle or the visual style of the puzzle, use the buttons below the display.</li>
      </ol>
    </div>
  </div>

  <div class="sea-blue section-divider"></div>

  <script src={% static 'fifteen.min.js' %}></script>
{% endblock content %}
