{% extends "master.html" %}

{% load static %}

{% block title %}
  Puzzles &amp; Games
{% endblock title %}

{% block content %}
  <h1 class="page-header">Puzzles &amp; Games</h1>

  <div class="page-section light-section">
    <div class="container">
      <h4 class="center section-header">Rubik’s Cube</h4>
      <div class="row vcenter">
        <div class="col m12 l7 push-l5">
          <p>
            The Rubik’s Cube is a combination puzzle which was invented in 1974 by Ernő Rubik. It has inspired numerous variants.
            To see a web version of the puzzle, <a href="/games/rubiks">click here</a>.
          </p>
          <p>
            The cube has a deep mathematical structure related to group theory.
            To see my senior thesis which explores these topics and describes the “Cubix Tube” variant, <a href="/thesis">click here</a>.
          </p>
        </div>
        <div class="col m12 l5 pull-l7 center">
          <img src="{% static 'rubiks-icon.png' %}" class="section-circle-img">
        </div>
      </div>
    </div>
  </div>

  <div class="sea-blue section-divider"></div>

  <div class="page-section dark-section">
    <div class="container">
      <h4 class="center section-header">TwixT</h4>
      <div class="row vcenter">
        <div class="col m12 l7">
          <p>
            TwixT is a two-person strategy board-game released in the 1960s as part of the 3M bookshelf game series.
            Players take turns placing pegs and barriers, attempting to complete an unbroken barrier from one side of the board to the other.
            It was one of my favorite games when I was growing up.
          </p>
          <p>To play a web version of the game, click <a href="/games/twixt">here</a>.</p>
        </div>
        <div class="col m12 l5 center">
          <img src="{% static 'twixt-icon.png' %}" class="section-circle-img">
        </div>
      </div>
    </div>
  </div>

  <div class="sea-blue section-divider"></div>
  
  <div class="page-section light-section">
    <div class="container">
      <h4 class="center section-header">Fifteen Puzzle</h4>
      <div class="row vcenter">
        <div class="col m12 l7 push-l5">
          <p>
            The Fifteen Puzzle is a classic sliding puzzle.
            The original version contains 15 numbered tiles in a 4×4 grid.
            Other variants involve different-sized grids or replace the numbered tiles with pieces of a picture.
          </p>
          <p>To play a web version of the game, click <a href="/games/fifteen">here</a>.</p>
        </div>
        <div class="col m12 l5 pull-l7 center">
          <img src="{% static 'fifteen-icon.png' %}" class="section-circle-img">
        </div>
      </div>
    </div>
  </div>
  
  <div class="sea-blue section-divider"></div>

{% endblock content %}
