#puzzle-container {
  margin: 5px;
  box-sizing: content-box;
}

#puzzle-frame {
	border: thick solid black;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
}

.square {
	border: thin solid dimgray;
  float: left;
	box-sizing: border-box;
	display: flex;
	-webkit-user-select: none; /* Safari */        
	   -moz-user-select: none; /* Firefox */
	    -ms-user-select: none; /* IE10+/Edge */
	        user-select: none; /* Standard */
}

.square.blank-tile {
	background: #202020;
}

.square.red-tile {
	justify-content: center;
	align-items: center;	
	font-size: 20pt;
	font-family: Verdana, sans-serif;
	font-weight: bold;
	background-color: crimson;
	color: white;
}

.square.white-tile {
	justify-content: center;
	align-items: center;	
	font-size: 20pt;
	font-family: Verdana, sans-serif;
	font-weight: bold;
	background-color: white;
	color: crimson;
}	

.square.gray-tile {
	justify-content: center;
	align-items: center;
	font-size: 20pt;
	font-family: serif;
	font-weight: bold;
  background-image: linear-gradient(to bottom right, #999999, #CCCCCC);
	color: #606060;
  text-shadow: 0px 0px 10px white;
    
}

.square.wood-tile {
	justify-content: center;
	align-items: center;
	font-size: 20pt;
	font-family: Verdana, sans-serif;
	font-weight: bold;
	color: rgba(96, 79, 65, 0.8);
	background: url("wood.jpg");
}

.square.image-tile {
	background: url("drcoleman.jpg");
	justify-content: end;
	align-items: end;
  font-family: serif;
  color: deepskyblue;
	font-weight: bold;
  font-size: 12pt;
}

button.fifteen-button {
	display: inline-block;
  margin: 5px;
}
